/* Estructura */

*{ padding:0; margin:0;}

body {
	background-color: #F7F7F7;
	color: #333333;
	font-family: "Trebuchet MS", Vendana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	margin: auto;
}

#div-process {
	padding-left: 22px;	
	font: normal 14.5px/17px georgia, "times new roman", serif;
	background: url(../../images/proceso.gif) no-repeat 0% 10%;
	float: right;
	height: 20px;
	width: 150px;
	border: 1px solid #000066;
	background-color:#FFFFCC;
	color:#011940;
}

#titulo {
	background-color: #FcFcFc;
	border:1px solid #FcFcFc;
	margin-top: 0;
	padding-top: 0;
	width: 100%;
}

#contenido {
	background-color: #F7F7F7;
	border:1px solid #F7F7F7;
}
	.piccola{ width:30%; margin: 0 auto;}
	.center{ width:60%; margin: 0 auto;}	
	.right{ width:40%; float:right;}
	.left{ width: 60%; float:left; }
	.ventana{ margin:10px; padding:0 0 4px 0; border:1px solid #999; background-color:#DEDEDE;}
		.titulo{ background-color:#336699; color:#FFFFFF; font-weight:bold; text-align:center; border-bottom:2px solid #FFF;}

#contenido h3 {
	font: normal 17.5px/17px georgia, "times new roman", serif;
	margin-bottom: 0;
	padding-bottom: 0;
}

#pie {
	clear: both;
	color: #808080;
	background: #FFF;
	font-size: 0.8em;
	text-align: right;
	padding: 9px 10px 9px 0;
	margin: 10px 5px 10px 5px;
	border: 1px solid #ccc;
	width:60%;
	margin: 0 auto;
	margin-top:50px;
	text-align:center;	
}

#pie a {
	text-decoration: underline;
	color: #3A6794;
}

#pie a:hover {
	color: #000;
}

/* Mensajes para el usuario */

.error {
	width:80%;
	background: #FFF7F2 url('../../images/error.png') 15px center no-repeat;
	border-top: 2px solid #CC0000;
	border-bottom: 2px solid #CC0000;
	margin: 0 auto;
	padding: 5px 20px 5px 45px;
}

.exito {
	width:80%;
	background: #F4FBF5 url('../../images/information.png') 15px center no-repeat;
	border-top: 2px solid #006600;
	border-bottom: 2px solid #006600;
	margin: 0 auto;
	padding: 5px 20px 5px 45px;
}

.info {
	width:80%;
	background: #FFF6BF url('../../images/icon_info.gif') 15px center no-repeat;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	margin: 0 auto;
	padding: 5px 20px 5px 45px;
}

/* Formularios */

#formulario {
	margin: 30px;
	padding: 0px;
	border: 0px;
}

#formulario fieldset{ border: none;}
#formulario label{ width:100px; text-align:left;}
	label.required { padding-left: 22px; background: url(../../images/required.gif) no-repeat 0% 50%; }	
	label.problem { padding-left: 22px; background: url(../../images/caution.gif) no-repeat 0% 50%; }	
	label.completed { padding-left: 22px; background: url(../../images/complete.gif) no-repeat 0% 50%; }
#formulario p{margin: 8px 0 ;}
.input-text{ width: 100%; border: 1px solid #7591B5; background-color:#fff; margin: 1px; padding: 3px; font: 14px Verdana, Arial, Helvetica, sans-serif;}
.input-corto{ width: 200px; border: 1px solid #7591B5; background-color:#fff; padding: 1px 0;}
.check { border: 1px solid #7591B5; background-color:#fff; }
input:hover { 
		background: #f5f5f5;
		color: #000;	
	}


input.submit
{
	width: 200px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	cursor:pointer;
	border-bottom:solid 2px #000;
	border-right:solid 2px #000;
	border-top:solid 1px #336699;
	border-left:solid 1px #336699;
	background-color:#002255;
	color:#fff;
	font-size:105%;
	text-decoration:none;
	padding:.4em;
	font-weight:bold;
}

input.submit:hover
{
	text-decoration:none;
	background-color:#003366;
	color:#fff;
}

.submit_naranja {
	width: 200px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	cursor:pointer;
	border-bottom:solid 2px #E55C00;
	border-right:solid 2px #E55C00;
	border-top:solid 1px #FF751A;
	border-left:solid 1px #FF751A;
	background-color:#ff6600;
	color:#fff;
	font-size:105%;
	text-decoration:none;
	padding:.4em;
	font-weight:bold;
}

.submit_naranja:hover {
	text-decoration:none;
	background-color:#FF751A;
	color:#fff;
}

.submit_normal_azul {
	border-bottom:solid 2px #000;
	border-right:solid 2px #000;
	border-top:solid 1px #336699;
	border-left:solid 1px #336699;
	background-color:#002255;
	color:#fff;
	margin-left:10px;
}

.submit_normal_azul:hover {
	text-decoration:none;
	background-color:#003366;
	color:#fff;
}


/* Menu */

#menuContenedor a {
	text-decoration: none;
}

#menuContenedor ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: relative;
}

#menuContenedor ul li { 
	display: inline; 
	margin: 0 0 0px;
}

/*1st level elements*/
#menuContenedor ul
{
	border-top: 1px solid #FcFcFc;
	border-bottom: 1px solid #36c;
	background-color: #FcFcFc;
	padding: 2px 0;
	margin-bottom: 2em;
}

#menuContenedor ul a,
#menuContenedor ul a:link,
#menuContenedor ul a:visited
{
	background: #900;
	border: 1px solid #FFF;
	bottom: 2px;
	color: #FFF;
	height: 1em;
	margin:0;
	margin-left: 15px;
	padding: 2px 4px 2px 4px;
	position: relative;
	right: 2px;
	text-decoration: none;
	z-index:1;
}

#menuContenedor ul a:hover,
#menuContenedor ul a:focus
{
	background: #C00;
	bottom: 1px;
	color: #FFF;
	position: relative;
	right: 1px;
}

/*current Link*/
#menuContenedor ul a#current,
#menuContenedor ul a#current:link,
#menuContenedor ul a#current:visited { 
	background: #369;
	border-bottom: none;
	border-left: 1px solid #9CC;
	border-right: 1px solid #9CC;
	border-top: 1px solid #9CC;
	bottom: 0;
	color: #FFF;
	cursor: text;
	margin: 0;
	margin-left: 15px;
	padding: 2px 5px 0 5px;
	position: relative;
	right: 0;
 }

/*Second and subsequent levels*/
#menuContenedor ul ul
{
	font-size: 80%;
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	border-top: none;
	background-color: #369;
	height: 2em;
}

#menuContenedor ul ul li { display: inline; }

#menuContenedor ul ul a,
#menuContenedor ul ul a:link,
#menuContenedor ul ul a:visited
{
	background-color: #95B1BB;
	border: 1px solid black;
	color: black;
	top: 12px;
}

#menuContenedor ul ul a:hover,
#menuContenedor ul ul a:focus
{
	background-color: #9CD4F7;
	border: 1px solid #000000;
	color: black;
}

/*current Link*/
#menuContenedor ul ul a#subcurrent,
#menuContenedor ul ul a#subcurrent:link,
#menuContenedor ul ul a#subcurrent:visited { 
	background-color: #F7F7F7;
	border: 1px solid #F7F7F7;
	color: black;
	cursor: text;
	margin: 0;
	margin-left: 15px;	
	position: relative;
	right: 0;
}

#menu {
	display:block;
	top:50px;
}

	.opcion {
		float: left;		
		margin-left: 15px;
		padding-right: 5px;
	}
	
		.opcion img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			border: 0;
		}

h2 {color: #9a4723; margin:0px;}

legend {color: #9a4723; margin:0px; font-size:large;}